<div class="c-animation">
    <img class="c-animation__drop6 u-absolute" src="./assets/img/animation/drop6.png" alt="drop6">
    <img class="c-animation__leaftop u-absolute" src="./assets/img/animation/leaf_top.png" alt="leaf top">
    <% for (let i = 5; i >=4 ; i--) { %>
        <img class="c-animation__drop<%= i %> u-absolute" src="<%= animation.drops[i-1].src %>" alt="<%= animation.drops[i-1].alt %>">
    <% } %>
    <% for (let i = 1; i<=3; i++) { %>
        <img class="c-animation__drop<%= i %> u-absolute" src="<%= animation.drops[i-1].src %>" alt="<%= animation.drops[i-1].alt %>">
      <% } %>
        <img class="c-animation__leafright u-absolute" src="./assets/img/animation/leaf_right.png" alt="leaf right">
</div>